.fog {
  position: relative;
  height: 100vh;
  width: 100%;
  background: #fff;
}

.fog-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.fog-img {
  position: absolute;
  height: 80vh;
  width: 300vw;
  z-index: 2;
}

.fog-img-first {
  background: url("https://firebasestorage.googleapis.com/v0/b/auth-development-ae591.appspot.com/o/portfolio%2Ffog-1.png?alt=media&token=91290255-3812-42bc-bcf9-2a81d62e1551");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center;
  animation: marquee 60s linear infinite;
}

.fog-img-second {
  background: url("https://firebasestorage.googleapis.com/v0/b/auth-development-ae591.appspot.com/o/portfolio%2Ffog-2.png?alt=media&token=1a3e56b0-4ddc-4ca3-a114-00efe84c3374");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center;
  animation: marquee 30s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-200vw, 0, 0);
  }
}
