.crop {
  overflow: hidden;
  height: 50vh;
}

.carousel-caption {
  top: 30%;
  bottom: auto;
}

.crop-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 500px) {
  .carousel-caption h1 {
    font-size: 2.5rem;
  }
  .carousel-caption p {
    font-size: 1rem;
  }
  .navbar-custom {
    padding-top: 0;
  }
  .button {
    display: none;
  }
  .crop {
    height: 80vh;
  }

  .crop-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.stack {
  height: 100px;
  padding-right: 20px;
}
