.crop {
  overflow: hidden;
  height: 50vh;
}

.carousel-caption {
  top: 30%;
  bottom: auto;
}

.carousel-img {
  position: absolute;
  z-index: 0;
  top: -0px;
  height: 100%;
}

.carousel-caption-two {
  top: 20%;
  bottom: auto;
}

.crop-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.stack {
  height: 100px;
  padding-right: 20px;
}

.stack-box {
  border-radius: 10px;
  border: 1px solid white;
  max-width: 700px;
  padding: 20px;
  background-color: #1b1b1b71;
}

.pagespeed {
  border-radius: 10px;
  border: 1px solid white;
}

@media only screen and (max-width: 576px) {
  .carousel-caption h1 {
    font-size: 2.5rem;
  }
  .carousel-caption p {
    font-size: 1rem;
  }
  .navbar-custom {
    padding-top: 0;
  }
  .button {
    display: none;
  }
  .crop {
    height: 80vh;
  }

  .crop-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .pagespeed {
    display: none;
  }

  .stack {
    max-height: 100px;
    padding-right: 5px;
  }

  .stack-box {
    padding: 5px;
  }
}
