#root {
  margin: 0 auto;
}
* {
  border: 10x solid red;
}

main {
  flex-grow: 1;
  min-height: 100vh;
}

html {
  height: 100%;
}

.socials {
  height: 50px;
}

.footer {
  font-size: 10px;
  padding: 0;
}

a {
  color: white;
}

ul {
  list-style-type: none;
}
